:root {
  --primary-color: rgb(8, 77, 77);
  --heading-font-family: "Lora", serif;
  --main-font-family: "Manrope", sans-serif;
}
body {
  font-family: "Manrope", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: rgb(8, 19, 19);
  font-weight: 600;
}
h1 {
  font-size: 92px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
h2 {
  font-size: 45px;
  margin: 0 0 40px;
  padding-top: 60px;
}
h3 {
  font-size: 28px;
  text-align: center;
}
p {
  font-family: var(--main-font-family);
  color: rgb(5, 10, 10);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
img {
  margin-left: 50px;
  border-radius: 4px;
}
.homepage {
  padding: 0 15px 230px;
  background: rgb(230, 248, 242);
}
.homepage p {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}
.title {
  padding-top: 220px;
}
.btn-main {
  background: var(--primary-color);
  border-radius: 4px;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin: 60px auto 0;
  text-align: center;
  width: 150px;
}
.btn-outline {
  background: white;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  padding: 15px;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: center;
  width: 150px;
  font-weight: 500;
}
.project {
  margin-bottom: 100px;
}

.weather-img {
  max-height: 480px;
  margin-left: 80px;
}
.content-section {
  padding: 70px 120px;
}
.content-section h1 {
  font-size: 68px;
  text-align: left;
  padding-top: 20px;
}
.content-section h2 {
  font-size: 38px;
  padding-top: 30px;
}
.content-section p {
  margin: 60px 0;
}
.content-section img {
  display: block;
  margin: 0 auto;
}
.content {
  text-align: left;
}
.btn-about {
  background: var(--primary-color);
  border-radius: 4px;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 180px;
}
.work-title {
  margin-bottom: 80px;
}
.work {
  margin-top: 30px;
}
.contact-section h3 {
  margin-top: 40px;
}
.contact-section h1 {
  margin-top: 80px;
}
@media (max-width: 900px) {
  h2 {
    margin-top: 10px;
    font-size: 36px;
    padding-top: 10px;
  }
  h1 {
    font-size: 66px;
    line-height: 1.3;
  }
  .project-description {
    text-align: center;
  }
  .about-section h1 {
    text-align: center;
  }
  .btn-outline,
  .btn-about {
    margin: 70px auto;
  }
  .title {
    padding-top: 120px;
  }
  .homepage {
    padding-bottom: 100px;
  }
  .content-section {
    padding: 70px 30px;
  }
  .content {
    text-align: center;
  }
  .content-section h1 {
    text-align: center;
    font-size: 60px;
    padding: 20px 15px 0;
  }
}
